// Place all the styles related to the solver controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, input {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  // font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

input {
  text-align: center;
}
