/* Place all the styles related to the solver controller here.
 * They will automatically be included in application.css.
 */

body, input {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

input {
  text-align: center;
}
